In [ ]:
Task 1

In [2]:
import pandas as pd

# Creating the Project DataFrame
data = {
    "ID": ["A001", "A002", "A003", "A004", "A005",
           "A002", "A005", "A003", "A001", "A003",
           "A001", "A004", "A004", "A005"],
    
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5",
                "Project 6", "Project 7", "Project 8", "Project 9", "Project 10",
                "Project 11", "Project 12", "Project 13", "Project 14"],
    
    "Cost": [1002000, 2000000, 4500000, 5500000, '',   # Project 5 has blank Cost
             680000, 400000, 350000, '', 300000,       # Project 9 blank Cost
             2000000, 1000000, 3000000, 200000],
    
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished",
               "Failed", "Finished", "Failed", "Ongoing", "Finished",
               "Failed", "Ongoing", "Finished", "Finished"]
}

df = pd.DataFrame(data)

# Display the DataFrame without index as expected
print(df.to_string(index=False)) # printing exactly as same format

  ID    Project    Cost   Status
A001  Project 1 1002000 Finished
A002  Project 2 2000000  Ongoing
A003  Project 3 4500000 Finished
A004  Project 4 5500000  Ongoing
A005  Project 5         Finished
A002  Project 6  680000   Failed
A005  Project 7  400000 Finished
A003  Project 8  350000   Failed
A001  Project 9          Ongoing
A003 Project 10  300000 Finished
A001 Project 11 2000000   Failed
A004 Project 12 1000000  Ongoing
A004 Project 13 3000000 Finished
A005 Project 14  200000 Finished

In [3]:
# Employee DataFrame
data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

df = pd.DataFrame(data)

# Display DataFrame
print(df.to_string(index=False))

  ID            Name Gender    City  Age
A001      John Alter      M   Paris   25
A002 Alice Luxemburg      F  London   27
A003   Tom Sabestine      M  Berlin   29
A004      Nina Adgra      F Newyork   31
A005       Amy Johny      F  Madrid   30

In [4]:
# Seniority Level DataFrame

data = {
     'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Designation Level' : [2,2,3,2,3]
 }
df3 = pd.DataFrame(data)

# Display DataFrame as expected
print(df3.to_string(index=False))

  ID  Designation Level
A001                  2
A002                  2
A003                  3
A004                  2
A005                  3

In [ ]:

Task 2

In [11]:
import pandas as pd
import numpy as np

# Original Data
data = {
    "ID": ["A001", "A002", "A003", "A004", "A005",
           "A002", "A003", "A001", "A004", "A005",
           "A001", "A002", "A003", "A004",],
    
    "Project": ["Project 1", "Project 2", "Project 3", "Project 4", "Project 5",
                "Project 6", "Project 7", "Project 8", "Project 9", "Project 10",
                "Project 11", "Project 12", "Project 13", "Project 14"],
    
    "Cost": [100200, 200000, 450000, 550000, np.nan,
             600000, 400000, 350000, np.nan, 300000,
             200000, 100000, 300000, 200000],
    
    "Status": ["Finished", "Ongoing", "Finished", "Ongoing", "Finished",
               "Failed", "Finished", "Failed", "Ongoing", "Finished",
               "Failed", "Ongoing", "Finished", "Finished"]
}

# Create new DataFrame
df1 = pd.DataFrame(data)

# to make sure cost is numeric
df1["Cost"] = pd.to_numeric(df1["Cost"], errors='coerce')

# Handle first row if NaN
if pd.isna(df1.loc[0, "Cost"]):
    df1.loc[0, "Cost"] = df1.loc[1, "Cost"]

# Handle last row if NaN
if pd.isna(df1.loc[len(df1)-1, "Cost"]):
    df1.loc[len(df1)-1, "Cost"] = df1.loc[len(df1)-2, "Cost"]

# Loop through DataFrame to handle middle NaNs
for i in range(1, len(df1)-1):  # Avoiding first and last row
    if pd.isna(df1.loc[i, "Cost"]):
        prev_val = df1.loc[i-1, "Cost"]
        next_val = df1.loc[i+1, "Cost"]
        
        # Only fill if both neighbors are numbers
        if pd.notna(prev_val) and pd.notna(next_val):
            df1.loc[i, "Cost"] = (prev_val + next_val) / 2

print(df1)

      ID     Project      Cost    Status
0   A001   Project 1  100200.0  Finished
1   A002   Project 2  200000.0   Ongoing
2   A003   Project 3  450000.0  Finished
3   A004   Project 4  550000.0   Ongoing
4   A005   Project 5  575000.0  Finished
5   A002   Project 6  600000.0    Failed
6   A003   Project 7  400000.0  Finished
7   A001   Project 8  350000.0    Failed
8   A004   Project 9  325000.0   Ongoing
9   A005  Project 10  300000.0  Finished
10  A001  Project 11  200000.0    Failed
11  A002  Project 12  100000.0   Ongoing
12  A003  Project 13  300000.0  Finished
13  A004  Project 14  200000.0  Finished

In [ ]:

Task 3

In [18]:
import pandas as pd

# Employee DataFrame
data = {
    'ID': ['A001', 'A002', 'A003', 'A004', 'A005'],
    'Name': ['John Alter', 'Alice Luxemburg', 'Tom Sabestine', 'Nina Adgra', 'Amy Johny'],
    'Gender': ['M', 'F', 'M', 'F', 'F'],
    'City': ['Paris', 'London', 'Berlin', 'Newyork', 'Madrid'],
    'Age': [25, 27, 29, 31, 30]
}

df2 = pd.DataFrame(data)

# adding first name and last name column using split
df2[['First Name', 'Last Name']] = df2['Name'].str.split(" ", n=1, expand=True)

# Removing the Name column by using drop
df2.drop(columns=['Name'], inplace=True)

print(df2.to_string(index=False))

  ID Gender    City  Age First Name Last Name
A001      M   Paris   25       John     Alter
A002      F  London   27      Alice Luxemburg
A003      M  Berlin   29        Tom Sabestine
A004      F Newyork   31       Nina     Adgra
A005      F  Madrid   30        Amy     Johny

In [ ]:

Task 4

In [19]:
import pandas as pd

# Merging all 3 DataFrames on ID as it is the common value using merge based on ID 
Final = df1.merge(df2, on="ID").merge(df3, on="ID")

print(Final.to_string(index=False))

  ID    Project     Cost   Status Gender    City  Age First Name Last Name  Designation Level
A001  Project 1 100200.0 Finished      M   Paris   25       John     Alter                  2
A002  Project 2 200000.0  Ongoing      F  London   27      Alice Luxemburg                  2
A003  Project 3 450000.0 Finished      M  Berlin   29        Tom Sabestine                  3
A004  Project 4 550000.0  Ongoing      F Newyork   31       Nina     Adgra                  2
A005  Project 5 575000.0 Finished      F  Madrid   30        Amy     Johny                  3
A002  Project 6 600000.0   Failed      F  London   27      Alice Luxemburg                  2
A003  Project 7 400000.0 Finished      M  Berlin   29        Tom Sabestine                  3
A001  Project 8 350000.0   Failed      M   Paris   25       John     Alter                  2
A004  Project 9 325000.0  Ongoing      F Newyork   31       Nina     Adgra                  2
A005 Project 10 300000.0 Finished      F  Madrid   30        Amy     Johny                  3
A001 Project 11 200000.0   Failed      M   Paris   25       John     Alter                  2
A002 Project 12 100000.0  Ongoing      F  London   27      Alice Luxemburg                  2
A003 Project 13 300000.0 Finished      M  Berlin   29        Tom Sabestine                  3
A004 Project 14 200000.0 Finished      F Newyork   31       Nina     Adgra                  2

In [ ]:

Task 5

In [20]:
# Creating new dataframe as Final and adding Bonus column
Final['Bonus'] = Final.apply(
    lambda row: row['Cost'] * 0.05 if row['Status'] == "Finished" else 0, #if statrus is Finished then giving 5% bonus on cost else 0%
    axis=1
)

print(Final.to_string(index=False))

  ID    Project     Cost   Status Gender    City  Age First Name Last Name  Designation Level   Bonus
A001  Project 1 100200.0 Finished      M   Paris   25       John     Alter                  2  5010.0
A002  Project 2 200000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003  Project 3 450000.0 Finished      M  Berlin   29        Tom Sabestine                  3 22500.0
A004  Project 4 550000.0  Ongoing      F Newyork   31       Nina     Adgra                  2     0.0
A005  Project 5 575000.0 Finished      F  Madrid   30        Amy     Johny                  3 28750.0
A002  Project 6 600000.0   Failed      F  London   27      Alice Luxemburg                  2     0.0
A003  Project 7 400000.0 Finished      M  Berlin   29        Tom Sabestine                  3 20000.0
A001  Project 8 350000.0   Failed      M   Paris   25       John     Alter                  2     0.0
A004  Project 9 325000.0  Ongoing      F Newyork   31       Nina     Adgra                  2     0.0
A005 Project 10 300000.0 Finished      F  Madrid   30        Amy     Johny                  3 15000.0
A001 Project 11 200000.0   Failed      M   Paris   25       John     Alter                  2     0.0
A002 Project 12 100000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003 Project 13 300000.0 Finished      M  Berlin   29        Tom Sabestine                  3 15000.0
A004 Project 14 200000.0 Finished      F Newyork   31       Nina     Adgra                  2 10000.0

In [ ]:

Task 6

In [16]:
# Demote the designation level by 1, whose projects have status “fail”.
Final.loc[Final['Status'] == 'Failed', 'Designation Level'] -= 1

# Delete the employees record whose designation level is above 4.
Final = Final[Final['Designation Level'] <= 4]

print(Final.to_string(index=False))

  ID    Project     Cost   Status Gender    City  Age First Name  LastName  Designation Level   Bonus
A001  Project 1 100200.0 Finished      M   Paris   25       John     Alter                  2  5010.0
A002  Project 2 200000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003  Project 3 450000.0 Finished      M  Berlin   29        Tom Sabestine                  3 22500.0
A004  Project 4 550000.0  Ongoing      F Newyork   31       Nina     Adgra                  2     0.0
A005  Project 5 575000.0 Finished      F  Madrid   30        Amy     Johny                  3 28750.0
A002  Project 6 600000.0   Failed      F  London   27      Alice Luxemburg                  1     0.0
A003  Project 7 400000.0 Finished      M  Berlin   29        Tom Sabestine                  3 20000.0
A001  Project 8 350000.0   Failed      M   Paris   25       John     Alter                  1     0.0
A004  Project 9 325000.0  Ongoing      F Newyork   31       Nina     Adgra                  2     0.0
A005 Project 10 300000.0 Finished      F  Madrid   30        Amy     Johny                  3 15000.0
A001 Project 11 200000.0   Failed      M   Paris   25       John     Alter                  1     0.0
A002 Project 12 100000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003 Project 13 300000.0 Finished      M  Berlin   29        Tom Sabestine                  3 15000.0
A004 Project 14 200000.0 Finished      F Newyork   31       Nina     Adgra                  2 10000.0

In [ ]:

Task 7

In [17]:
# adding “Mr.” and “Mrs.” to the first name column
Final['First Name'] = Final.apply(
    lambda row: f"Mr. {row['First Name']}" if row['Gender'] == 'M' else f"Mrs. {row['First Name']}",
    axis=1
)

# Drop Gender column
Final = Final.drop(columns=['Gender'])

print(Final.to_string(index=False))

  ID    Project     Cost   Status    City  Age First Name  LastName  Designation Level   Bonus
A001  Project 1 100200.0 Finished   Paris   25   Mr. John     Alter                  2  5010.0
A002  Project 2 200000.0  Ongoing  London   27 Mrs. Alice Luxemburg                  2     0.0
A003  Project 3 450000.0 Finished  Berlin   29    Mr. Tom Sabestine                  3 22500.0
A004  Project 4 550000.0  Ongoing Newyork   31  Mrs. Nina     Adgra                  2     0.0
A005  Project 5 575000.0 Finished  Madrid   30   Mrs. Amy     Johny                  3 28750.0
A002  Project 6 600000.0   Failed  London   27 Mrs. Alice Luxemburg                  1     0.0
A003  Project 7 400000.0 Finished  Berlin   29    Mr. Tom Sabestine                  3 20000.0
A001  Project 8 350000.0   Failed   Paris   25   Mr. John     Alter                  1     0.0
A004  Project 9 325000.0  Ongoing Newyork   31  Mrs. Nina     Adgra                  2     0.0
A005 Project 10 300000.0 Finished  Madrid   30   Mrs. Amy     Johny                  3 15000.0
A001 Project 11 200000.0   Failed   Paris   25   Mr. John     Alter                  1     0.0
A002 Project 12 100000.0  Ongoing  London   27 Mrs. Alice Luxemburg                  2     0.0
A003 Project 13 300000.0 Finished  Berlin   29    Mr. Tom Sabestine                  3 15000.0
A004 Project 14 200000.0 Finished Newyork   31  Mrs. Nina     Adgra                  2 10000.0

In [ ]:

Task 8

In [24]:
# Promote designation level by 1 for employees whose age > 29 using if condition
Final['Designation Level'] = Final.apply(
    lambda row: row['Designation Level'] + 1 if row['Age'] > 29 else row['Designation Level'],
    axis=1
)

print(Final.to_string(index=False))

  ID    Project     Cost   Status Gender    City  Age First Name Last Name  Designation Level   Bonus
A001  Project 1 100200.0 Finished      M   Paris   25       John     Alter                  2  5010.0
A002  Project 2 200000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003  Project 3 450000.0 Finished      M  Berlin   29        Tom Sabestine                  3 22500.0
A004  Project 4 550000.0  Ongoing      F Newyork   31       Nina     Adgra                  6     0.0
A005  Project 5 575000.0 Finished      F  Madrid   30        Amy     Johny                  7 28750.0
A002  Project 6 600000.0   Failed      F  London   27      Alice Luxemburg                  2     0.0
A003  Project 7 400000.0 Finished      M  Berlin   29        Tom Sabestine                  3 20000.0
A001  Project 8 350000.0   Failed      M   Paris   25       John     Alter                  2     0.0
A004  Project 9 325000.0  Ongoing      F Newyork   31       Nina     Adgra                  6     0.0
A005 Project 10 300000.0 Finished      F  Madrid   30        Amy     Johny                  7 15000.0
A001 Project 11 200000.0   Failed      M   Paris   25       John     Alter                  2     0.0
A002 Project 12 100000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A003 Project 13 300000.0 Finished      M  Berlin   29        Tom Sabestine                  3 15000.0
A004 Project 14 200000.0 Finished      F Newyork   31       Nina     Adgra                  6 10000.0

In [ ]:

Task 9

In [25]:
# Grouping by ID and First Name, then sum the Cost
TotalProjCost = Final.groupby(['ID', 'First Name'], as_index=False)['Cost'].sum()

# Renaming column
TotalProjCost.rename(columns={'Cost': 'Total cost'}, inplace=True)

print(TotalProjCost.to_string(index=False))

  ID First Name  Total cost
A001       John    650200.0
A002      Alice    900000.0
A003        Tom   1150000.0
A004       Nina   1075000.0
A005        Amy    875000.0

In [ ]:

Task 10

In [26]:
# employees whose city names contains letter 'o'
emp_with_city_names_contains_o = Final[Final['City'].str.contains('o', case=False, na=False)]

print(emp_with_city_names_contains_o.to_string(index=False))

  ID    Project     Cost   Status Gender    City  Age First Name Last Name  Designation Level   Bonus
A002  Project 2 200000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A004  Project 4 550000.0  Ongoing      F Newyork   31       Nina     Adgra                  6     0.0
A002  Project 6 600000.0   Failed      F  London   27      Alice Luxemburg                  2     0.0
A004  Project 9 325000.0  Ongoing      F Newyork   31       Nina     Adgra                  6     0.0
A002 Project 12 100000.0  Ongoing      F  London   27      Alice Luxemburg                  2     0.0
A004 Project 14 200000.0 Finished      F Newyork   31       Nina     Adgra                  6 10000.0